{% extends "base.html" %}

{% block content %}

    <h1>Select Image and Transformation Parameters</h1>
    <form method="post" novalidate>
        <h4>
            Image:
        </h4>
        <p>
            <select name="image_id">
                {% for image in images %}
                  <option value="{{ image }}" SELECTED>{{ image }}</option>
                {% endfor %}     
              </select>
        </p>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}